
@mixin font($fz, $fw, $lh, $ls){
    font-size: $fz;
    font-weight: $fw;
    line-height: $lh / $fw;
    letter-spacing: $ls;
}


/* ---------- Header -------- */


/* ---------- Banner -------- */



/* ---------- Studio -------- */


/* ---------- Work -------- */


/* ---------- Team -------- */



/* ---------- Regular clients -------- */

/* --------------- PORTFOLIO --------------- */

/* ---------- Hiro -------- */






/* ------Gallery------ */



/* ---------- Footer -------- */


/* ---------- MODAL WINDOW ----------*/

