body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: var(--primary-title-color);
  }
  
  .link {
    text-decoration: none;
  }
  .list {
    list-style: none;
  }
  